html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #565361;
    
}

.header {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 15px;
    margin: 10px;
    background-color: #7E6EB5;

}

.header-links {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
    
}
/* Add div class for cards here */
.card, .about-me, .my-projects, .experience, .daniils-design, .ovningsuppgifter, .t-programmering, .webbutveckling1, .programmering1, .personal, .interest-site {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.4s, box-shadow 0.2s;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #7E6EB5;
    max-height: 300px;
}

.my-projects button {
    margin-top: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1100px;
    margin: auto;
    min-height: 65vh;

}
/* hover effect for cards */
.about-me:hover, .experience:hover, .daniils-design:hover, .ovningsuppgifter:hover, .t-programmering:hover, .webbutveckling1:hover, .programmering1:hover, .personal:hover, .my-projects:hover, .interest-site:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}
/* for overlay on subpages */
.daniils-design-overlay, .about-me-overlay, .experience-overlay, .interest-site-overlay {
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer; 
  
}

.overlay-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  max-width: 80%;
  background-color: #7E6EB5;
}

.overlay-content a {
  text-decoration: none;
}

.overlay-content a:hover {
  text-decoration: underline;
}

button {
  padding: 8px 16px;
  background-color: #565361;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #000000;
}

a {
  color: #201B33;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.links a {
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.links a {
  text-decoration: none;
}